<html>
<link rel="stylesheet" type="text/css" href="/public/css/material.css" />

<title>Show Tracker - {{ .Name }}</title>

<body>
	{{ template "navbar" . }}

	<div class="show_container">
		<div class="content">
			<div class="detail_cover">
				<a href="http://en.wikipedia.org/{{ .WikipediaURL }}">
					<img class="cover" src="/public/images/{{.Name}}.jpg"></img>
				</a>

				<div class="show_info">
					<p class="spacing"></p>
					<p class="show_info">{{ .SeasonCount }} Seasons</p>
					<p class="show_info">{{ .EpisodeCount }} Episodes</p>
				</div>
				<div class="air_info">
					{{ if .NextEpisode }}
						<p class="air_info">Next Episode: {{ .NextEpisode.ReleaseDate.FancyString }}</p>
					{{ else }}
						<p class="air_info">Next Release Date Unknown</p>
					{{ end }}
				</div>
			</div>

			<div class="trailer">
				<iframe src="http://www.youtube.com/embed/{{.TrailerURL}}?autoplay=0&autohide=1&color=white&rel=0&showinfo=0&theme=light"
						frameborder="0" allowfullscreen="1"></iframe>
			</div>
		</div>
	</div>
	
</body>
</html>
