{{ define "navbar" }}

<link rel="stylesheet" type="text/css" href="/public/css/menubar_material.css" />

<div class="bar">
	<div class="title" >
		<h1 class="title">Show Tracker</h1>
	</div>
	<div class="navigation">
		<ul>
			<a href="/show/"><li>Home</li></a>
			<li>Show List
				<ul>
					<a href="/show"><li>All</li></a>
					<a href="/show/airing"><li>Airing</li></a>
					<a href="/show/upcoming"><li>Upcoming</li></a>
					<a href="/show/unreleased"><li>Unreleased</li></a>
					<a href="/show/finished"><li>Finished</li></a>
				</ul>
			</li>
			<a href="/show/schedule"><li>Schedule</li></a>	
			<li id='login_button'><strike>Login</strike></li>
		</ul>
	</div>
</div>

{{ end }}
