<html>
<head>
	<link rel="stylesheet" type="text/css" href="/public/css/material.css" \>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<title>Show Tracker - Request a Show</title>

	<script>
		function submitFunc() {
			$.ajax({
				url:'/api/show/request/addShow',
				type: 'post',
				data: $('#form').serialize(),
				success: function(data) {
					handleShowResponse(data);
				},
				error: function(data) {
					handleShowResponse(data);
				}
			});
		}

		function handleShowResponse(data) {
			alert("Show Response: " + data);
			var elem = document.getElementById('form').reset();
		}
	</script>
</head>

<body>
	{{ template "navbar" . }}

	<div class="show_container">
		{{ if .User.Admin }}
			<div class="centered-form">
				<table class="centered-form">
					<tr>
						<th>Requestee</th>
						<th>Show Name</th>
						<th>URLs</th>
						<th>-</th>
						<th>-</th>
					</tr>

					<!-- TODO: Better formatting/styling for this page -->
					<!-- TODO: Add functionality for Accept/Refuse -->
					<!-- TODO: Add a test crawl function? -->

					{{ range .Requests }}
						<tr>
							<td>{{ .Requestee }}</td>
							<td>{{ .ShowName }}</td>
							<td>{{ .WikipediaURL }}
							<br/>{{ .TrailerURL }}
							<br/>{{ .ImageURL }}</td>
							<td><input type="submit" value="Accept" action="#"></td>
							<td><input type="submit" value="Refuse" action="#"></td>
						</tr>
					{{ end }}

				</table>
			</div>
		{{ else }}
			You must have administritive priviliges to view this content.
		{{ end }}	
		<br /><br />
	</div>
</body>

</html>
