<html>
<link rel="stylesheet" type="text/css" href="/public/css/material.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>

<title>Show Tracker - Schedule</title>

<body>
	{{ template "navbar" }}

	<div class='show_container'>
		{{ range $index, $item := .Items }}
			{{ if eq (mod $index 7) (0) }}
				<div class="day_container">
				<div class="calendar_content">
			{{ end }}
			<div class="day">
				<p class="day_title"><b>{{.Date.CalendarString }}</b></p>
				<div class="day_episode_wrapper">
					<div class="day_show_container">
						{{ if not .Episodes }}
							<p class="day_show_none"></p>
						{{ else }}
							{{ range .Episodes }}
								<p class="day_show_info border">
									<a href="{{ .ShowID }}">
										{{ .ShowName }}
										<font size="1">
											[S{{doubleDigits .Season}}E{{doubleDigits .Episode.Episode}}]
										</font>
									</a>
								</p>
							{{ end }}
						{{ end }}
					</div>
				</div>
			</div>
			{{ if eq (mod $index 7) (6) }}
				</div>
			{{ end }}
		{{ end }}
	</div>
</body>
</html>
