@import url(http://fonts.googleapis.com/css?family=Roboto:500,400);

div.bar {
	width: 100%;
	height:60px;
	z-index:1;
	position:fixed;
	background-color: #388E3C;
	box-shadow:0 2px 6px -100px rgba(0,0,0,0.2);
}

ul {
	text-align: center;
	display: inline-block;
	margin: 0;
	list-style:none;
	padding: 0px 4px 0px;
}

ul li {
	display: inline-block;
	width: 80px;
	text-align: center;
	margin-right:4px;
	position: relative;
	padding: 15px 20px;
	background: #388E3C;
	padding-bottom:-10px;
	font-size: 1em;
	color: #fff;
	cursor: pointer;
	margin-top:0px;
	transition: all 0.2s;
	margin-top:8px;
	
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 2px 0px rgba(200, 200, 200, 0.5);
}

ul li:hover {
	box-shadow:0 2px 6px rgba(0,0,0,0.2);
	color:#fff;
}

ul li ul {
	margin-top:0px;
	padding: 0;
	box-shadow: none;
	visibility:hidden;
	display: none;
	transition: opacity 0.2s;
	left: 0;
	top: 48px;
	opacity: 0;
	width: 100px;
	position: absolute;
	box-shadow: none;
}

ul li ul li {
	background: #555;
	background: rgba(27,94,32, 0.9);
	margin-top:0px;
	display: block;
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	box-shadow: none;
	margin-top:0px;
}

ul li ul li.last {
	border-radius: 0px 0px 15px 15px;
}

ul li ul li:hover {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
	background: #388E3C;
}

ul li:hover ul {
	visibility: visible;
	opacity: 1;
	display: block;
}

h1.title {
	text-align:center;
	margin-bottom:0;
	padding-bottom:0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: 0;
	color: white;
	text-shadow:0 2px 6px rgba(0,0,0,0.4);
}

div.navigation {
	margin-left:50%;
	padding: 0;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
}
