<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/public/css/material.css">
  <link rel="stylesheet" type="text/css" href="/public/css/menubar_material.css">
  <title>{{ .Title }}</title>
</head>
<body>
  <div class="bar">
  <div class="nav">
    <div class="title" >
      <h1 class="title">Show Tracker</h1>
    </div>

    <div class="navigation">
      <ul>
        <a href="/show/"><li>Home</li></a>
        <li>Show List
          <ul>
            <a href="/show"><li>All</li></a>
            <a href="/show/airing"><li>Airing</li></a>
            <a href="/show/upcoming"><li>Upcoming</li></a>
            <a href="/show/unreleased"><li>Unreleased</li></a>
            <a href="/show/finished"><li>Finished</li></a>
          </ul>
        </li>

        <a href="/show/schedule"><li>Schedule</li></a>

        {{ if .User.Username }}
          <li style="width:auto">{{ .User.Username }}
            <ul>
            <a href="/show/request"><li>Request</li></a>
            <a href="/auth/logout"><li>Logout</li></a>
            </ul>
          </li>
        {{ else }}
          <a href="/auth/login"><li id='login_button'>Login</li></a>
        {{ end }}
      </ul>
    </div>
  </div>
  </div>
  <div>
